<ion-header>
  <ion-toolbar>
    <ion-title>Inloggen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">E-mailadres</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Wachtwoord</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Inloggen</ion-button>
  </form>

  <!-- Navigatie naar de registreerpagina -->
  <ion-button expand="full" color="light" routerLink="/register">Nog geen account? Registreren</ion-button>
</ion-content>
